<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="card col-md-4 wrapper log-back" >
            <form class="p-3">
              <div class="p-3">
                <h2 class="text-center">Login</h2>
              </div>
              <hr>
              <div class="form-group pt-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <br>
              <button class="btn btn-primary btn-block"  routerLink="/admin">Login</button>
              <small id="pswHelp" class="form-text text-muted pt-3 float-right">Forgot <a href="#">password?</a></small>
            </form>
          </div>
          <div class="col-md-8 wrapper">
            <app-slideshow></app-slideshow>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>