<div class="mycol rounded">
  <div class="border rounded-top border-primary p-3 bck-col">
    <h3>Registration</h3>
  </div>
  <hr>
  <ul class="nav nav-tabs border-primary" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active border-primary border-bottom-0 act" data-toggle="tab" href="" role="tab" aria-selected="true">Student Registration Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-primary border-bottom-0 act" data-toggle="tab" href="" role="tab" aria-selected="false">Teacher Registration Form</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="" role="tabpanel">
      <app-ad-rg-student></app-ad-rg-student>
    </div>
    <div class="tab-pane fade" id="" role="tabpanel">
      <app-ad-rg-teacher></app-ad-rg-teacher>
    </div>
  </div>
</div>
