<div class="mycol rounded">
  <div class="border rounded-top border-primary p-3 bck-col">
    <h3>Registration</h3>
  </div>
  <hr>
  <ul class="nav nav-tabs border-primary" id="myTab" role="tablist">
    <li class="nav-item">
      <a (click)="selectStudent()" class="nav-link active border-primary border-bottom-0 act" data-toggle="tab" role="tab" >Student
        Registration Form</a>
    </li>
    <li class="nav-item">
      <a (click)="selectTeacher()" class="nav-link border-primary border-bottom-0 act" data-toggle="tab" role="tab">Teacher
        Registration Form</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="" role="tabpanel" [class.show]="teacherPane" [class.active]="teacherPane">
      <app-ad-rg-student></app-ad-rg-student>
    </div>
     <div class="tab-pane fade" id="" role="tabpanel" [class.show]="studentPane" [class.active]="studentPane">
      <app-ad-rg-teacher></app-ad-rg-teacher>
    </div>
  </div>
</div>